


<div class="flight_table">
<h3>Current flights</h3>
    <ul>
        <li>
            <p>Flight number</p>
            <p>Flight date</p>
            <p>Start-Finish</p>
            <p>Airplane</p>
            <p>Number of seats booked</p>

        </li>
        <% @flights.each do |flight|%>
        
        <li>
            <p><%= link_to flight.flight_number, flight_path(flight.id)%></p>
            <p><%= flight.date %></p>
            <p><%= flight.origin %> - <%= flight.destination %></p>
            <p><%= flight.airplane.name%></p>
            <p>Seats</p>
            <%#( <p><%= total booked seats%> <%# plane column * plane row </p> %>
        </li>
        <% end %>
    </ul>
</div>

<div class="airplane_table">
<h3>Current Airplanes</h3>
    <ul>
        <li>
            <p>Plane name</p>
            <p>Capacity</p>
        </li>
        <% @airplanes.each do |plane|%>
        <li>
            <p><%= link_to plane.name, airplane_path(plane.id)%></p>
            <p><%= plane.column * plane.row %></p>
        </li>
        <% end %>
    </ul>
</div>