
<h2>Admin Page</h2>

<div id="flight_table">
<h3>Current flights</h3>
<button><%= link_to 'Create New Flight', new_flight_path %></button>

    <ul>
        <li>
            <p><strong>Flight number</strong></p>
            <p><strong>Flight date</strong></p>
            <p><strong>Start-Finish</strong></p>
            <p><strong>Airplane</strong></p>
            <p><strong>Number of seats booked</strong></p>

        </li>
        <% @flights.each do |flight|%>
        
        <li>
            <p><%= link_to flight.flight_number, flight_path(flight.id)%></p>
            <p><%= flight.date %></p>
            <p><%= flight.origin %> - <%= flight.destination %></p>
            <p><%= flight.airplane.name%></p>
            <p>Seats</p>
            <%#( <p><%= total booked seats%> <%# plane column * plane row </p> %>
        </li>
        <% end %>
    </ul>
</div>

<div id="airplane_table">
<h3>Current Airplanes</h3>
<button><%= link_to 'Create New Airplane', new_airplane_path %></button>
    <ul>
        <li>
            <p>Plane name</p>
            <p>Capacity</p>
        </li>
        <% @airplanes.each do |plane|%>
        <li>
            <p><%= link_to plane.name, airplane_path(plane.id)%></p>
            <p><%= plane.column * plane.row %></p>
        </li>
        <% end %>
    </ul>
</div>