
<h2>Admin Page</h2>


<div id="flight_table">
<h3>Current flights</h3>
<button><%= link_to 'Create New Flight', new_flight_path %></button>

    <ul>
        <li>
            <p><strong>Flight number</strong></p>
            <p><strong>Flight date</strong></p>
            <p><strong>Start-Finish</strong></p>
            <p><strong>Airplane</strong></p>
            <p><strong>Number of seats booked</strong></p>

        </li>
        <% @flights.each do |flight|%>
        
        <li>
            <p><%= flight.flight_number %></p>
            <p><%= flight.date %></p>
            <p><%= flight.origin %> - <%= flight.destination %></p>
            <p><%= flight.airplane.name%></p>
            <p>booked seats/<%= flight.airplane.column * flight.airplane.row %> </p>
            <%#( <p><%= total booked seats%> <%# plane column * plane row </p> %>
        </li>
        <% end %>
    </ul>
</div>

<div id="airplane_table">
<h3>Current Airplanes</h3>
<button><%= link_to 'Create New Airplane', new_airplane_path %></button>
    <ul>
        <li>
            <p><strong>Plane name</strong></p>
            <p><strong>Capacity</strong></p>
        </li>
        <% @airplanes.each do |plane|%>
        <li>
            <p><%= plane.name %></p>
            <p><%= plane.column * plane.row %></p>
        </li>
        <% end %>
    </ul>
</div>

